openapi: "3.0.2"
info:
  title: TranslanGo server
  version: "1.0"
servers:
  - url: "https://api.translango.com"
paths:
  /user/signup:
    get:
      summary: "signup page"
      tags:
        - "user"
      description: "signup page - list available languages"
      responses:
        200:
          description: "ok"
          content:
            application/json:
              schema:
                type: object
                properties:
                  languages:
                    type: array
                    items:
                      type: string
                      example: "ja"
    post:
      summary: "signup - register user"
      tags:
        - "user"
      description: "register email, password, full name, username, native language and some settings"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: "example@translango.com"
                password:
                  type: string
                  example: "passw0rd"
                first_name:
                  type: string
                  example: "John"
                middle_name:
                  type: string
                last_name:
                  type: string
                  example: "Doe"
                username:
                  type: string
                  example: "johndoe123"
                language:
                  type: string
                  example: "ja"
      responses:
        204:
          description: "ok"
        401:
          description: "email confirmation has been expired"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/message"
        409:
          description: "user already exists"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/message"
  /user/login:
    post:
      summary: "login"
      tags:
        - "user"
      description: "submit email & password"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: "example@translango.com"
                password:
                  type: string
                  example: "passw0rd"
      responses:
        204:
          description: "successfully logged in"
          headers:
            set-cookie:
              schema:
                type: string
                format: uuid
              description: "session id for authentication"
        401:
          description: "invalid info input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/message"
  /user/profile:
    get:
      summary: "user profile"
      tags:
        - "user"
      description: "retrieve user profile"
      parameters:
        - $ref: "#/components/parameters/cookie"
      responses:
        200:
          description: "ok"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/user"
    post:
      summary: "edit user profile"
      tags:
        - "user"
      description: "edit user profile"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/user"
      responses:
        204:
          description: "ok"
  /dashboard/top:
    get:
      summary: "dashboard/main - top"
      tags:
        - "dashboard"
      description: "dashboard/main - list preferred languages"
      parameters:
        - $ref: "#/components/parameters/cookie"
      responses:
        200:
          description: "ok"
          content:
            application/json:
              schema:
                type: object
                properties:
                  languages:
                    type: array
                    items:
                      type: string
                      example: "ja"
    post:
      summary: "dashboard/main - update preferred language"
      tags:
        - "dashboard"
      description: "dashboard/main - update preferred languages"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                languages:
                  type: array
                  items:
                    type: string
                    example: "ja"
      responses:
        204:
          description: "ok"
  /dashboard/histories:
    get:
      summary: "dashboard/histories - list histories"
      tags:
        - "dashboard"
      description: "histories/histories - list histories"
      parameters:
        - $ref: "#/components/parameters/cookie"
        - in: query
          name: key
          description: "search on your translated words"
          required: false
          schema:
            type: string
            example: "dog"
        - in: query
          name: offset
          description: "pagination from"
          required: true
          schema:
            type: integer
            example: 30
        - in: query
          name: limit
          description: "pagination total"
          required: true
          schema:
            type: integer
            example: 15
      responses:
        200:
          description: "ok"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/object"
                  total:
                    type: integer
                    example: 50
                  has_next:
                    type: boolean
                    example: true
                  next_page_url:
                    type: string
                    example: "https://api.tranlango.com/dashboard/hisotries?offset=15&limit=15"
    post:
      summary: "dashboard/camera - add history (detect object or text)"
      tags:
        - "dashboard"
      description: "dashboard/camera - add history (detect object or text)"
      parameters:
        - $ref: "#/components/parameters/cookie"
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - "object"
              - "text"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  example: "617a283a-44e1-42e5-8a65-c5a29afe51fc"
                image_url:
                  type: string
                  example: "https://statics.translango.com/617a283a-44e1-42e5-8a65-c5a29afe51fc.png"
                original:
                  type: object
                  properties:
                    text:
                      type: string
                      example: "Dog"
                    language:
                      type: string
                      example: "English"
                target:
                  type: array
                  items:
                    type: object
                    properties:
                      text:
                        type: string
                        example: "犬"
                      language:
                        type: string
                        example: "ja"
                country:
                  type: string
                  example: "Japan"
                city:
                  type: string
                  example: "Tokyo"
                latitude:
                  type: number
                  format: float
                longitude:
                  type: number
                  format: float
      responses:
        200:
          description: "ok"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/object"
  /dashboard/histories/{objectID}:
    get:
      summary: "dashboard/history - history"
      tags:
        - "dashboard"
      description: "dashboard/history - one history for object"
      parameters:
        - $ref: "#/components/parameters/cookie"
        - $ref: "#/components/parameters/objectID"
      responses:
        200:
          description: "ok"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/object"
    patch:
      summary: "dashboard/history - edit history"
      tags:
        - "dashboard"
      description: "dashboard/history - edit"
      parameters:
        - $ref: "#/components/parameters/cookie"
        - $ref: "#/components/parameters/objectID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                liked:
                  type: boolean
      responses:
        200:
          description: "ok"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/object"
  /dashboard/histories/{objectID}/caption:
    patch:
      summary: "dashboard/histories - edit caption"
      tags:
        - "dashboard"
      description: "dashboard/histories - edit caption"
      parameters:
        - $ref: "#/components/parameters/objectID"
        - $ref: "#/components/parameters/cookie"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                caption:
                  type: string
      responses:
        200:
          $ref: "#/components/schemas/object"
        404:
          description: "resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/message"
  /dashboard/histories/{objectID}/num_failures:
    patch:
      summary: "dashboard/histories - edit num failures"
      tags:
        - "dashboard"
      description: "dashboard/histories - edit num failures while gaming"
      parameters:
        - $ref: "#/components/parameters/objectID"
        - $ref: "#/components/parameters/cookie"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                num_failures:
                  type: integer
      responses:
        200:
          $ref: "#/components/schemas/object"
        404:
          description: "resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/message"
  /dashboard/histories/{objectID}/original:
    patch:
      summary: "dashboard/histories - edit original language"
      tags:
        - "dashboard"
      description: "dashboard/histories - edit original language"
      parameters:
        - $ref: "#/components/parameters/objectID"
        - $ref: "#/components/parameters/cookie"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                original:
                  type: object
                  properties:
                    text:
                      type: string
                      example: "Dog"
                    language:
                      type: string
                      example: "English"
      responses:
        200:
          $ref: "#/components/schemas/object"
        404:
          description: "resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/message"
  /dashboard/lists:
    get:
      summary: "dashboard/list - lists"
      tags:
        - "dashboard"
      description: "dashboard/list - list lists"
      parameters:
        - $ref: "#/components/parameters/cookie"
      responses:
        200:
          description: "ok"
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_list:
                    $ref: "#/components/schemas/list"
                  custom_lists:
                    type: array
                    items:
                      $ref: "#/components/schemas/list"
                  total:
                    type: integer
                    example: 3
    post:
      summary: "dashboard/list - add custom list"
      tags:
        - "dashboard"
      description: "dashboard/list - add custom list"
      parameters:
        - $ref: "#/components/parameters/cookie"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/list"
      responses:
        200:
          description: "ok"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/list"
  /dashboards/lists/{listID}:
    get:
      summary: "dashboard/list - start game"
      tags:
        - "dashboard"
      description: "dashboard/list - start game. FE pick a language up from response"
      parameters:
        - $ref: "#/components/parameters/cookie"
        - name: num_questions
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: "ok"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/list"
    put:
      summary: "dashboard - edit list"
      tags:
        - "dashboard"
      description: "list page - edit list"
      parameters:
        - $ref: "#/components/parameters/cookie"
        - $ref: "#/components/parameters/listID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/list"
      responses:
        200:
          description: "ok"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/list"
    delete:
      summary: "dashboard - delete list"
      tags:
        - "dashboard"
      description: "list page - delete list"
      parameters:
        - $ref: "#/components/parameters/cookie"
        - $ref: "#/components/parameters/listID"
      responses:
        204:
          description: "ok"
components:
  schemas:
    coordinate:
      type: object
      properties:
        x:
          type: number
        y:
          type: number
    object:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "617a283a-44e1-42e5-8a65-c5a29afe51fc"
        original:
          type: object
          properties:
            text:
              type: string
              example: "Dog"
            language:
              type: string
              example: "English"
            sound_url:
              type: string
        target:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
                example: "犬"
              language:
                type: string
                example: "ja"
              sound_url:
                type: string
        bbox:
          type: object
          properties:
            upper_left:
              $ref: "#/components/schemas/coordinate"
            lower_left:
              $ref: "#/components/schemas/coordinate"
            lower_right:
              $ref: "#/components/schemas/coordinate"
            upper_right:
              $ref: "#/components/schemas/coordinate"
        image_url:
          type: string
          example: "https://statics.translango.com/617a283a-44e1-42e5-8a65-c5a29afe51fc.png"
        caption:
          type: string
        country:
          type: string
          example: "Japan"
        city:
          type: string
          example: "Tokyo"
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
        liked:
          type: boolean
          example: true
        num_failures:
          type: integer
    list:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "0af7024f-c8fe-4790-8a96-c59abd904652"
        name:
          type: string
          example: "Animals"
        icon_name:
          type: string
          example: "book"
        objects:
          type: array
          items:
            $ref: "#/components/schemas/object"
    message:
      type: object
      properties:
        message:
          type: string
    user:
      type: object
      properties:
        email:
          type: string
          example: "example@translango.com"
        password:
          type: string
          description: "null in response"
        first_name:
          type: string
          example: "John"
        middle_name:
          type: string
        last_name:
          type: string
          example: "Doe"
        username:
          type: string
          example: "johndoe123"
        language:
          type: string
          example: "ja"
        preferred_languages:
          type: array
          items:
            type: string
            example: "ja"
  parameters:
    cookie:
      in: header
      name: cookie
      description: "cookie for identifying user"
      schema:
        type: string
        format: uuid
      required: true
    objectID:
      in: path
      name: objectID
      required: true
      description: "object id"
      schema:
        type: string
        example: "617a283a-44e1-42e5-8a65-c5a29afe51fc"
    listID:
      in: path
      name: listID
      required: true
      description: "list id"
      schema:
        type: string
        example: "d676c916-23e6-4f55-b2ce-48d0eec7ed00"
